******* WHY BURNBUCKET *********
this is a side project that can possibly give solace to anyone who is suffering and is stuck and wants to move forward
*****************************

******* BURNBUCKET EXPLAINED *********
In real life you can write something down and burn it. In the computer you can write something down and release the writing back into memory. 
***********************************

*********BURNBUCKET REQUIREMENTS**********
1. every burnbucket should say "Welcome to David's /dev/null burn bucket. 🪣😔🔥"
2. every burnbucket should say "Did something bad happen to you?"
"Are you ready to acknowledge it, accept it and release it?"
3. every burnbucket should say "did you know that merely naming your emotions can be therapautic in processsing them?"
4. every burnbucket should say "in the physical world we have Jackie's burn bucket, in the computer world we have David's /dev/null, in the computer world we can delete things and release them back to memory, once they are released to memory they will stay there until they are overwritten by the next time that address space needs to be reused."
5. every burnbucket should say "this is a safe space, nothing you type here gets sent back to the server, it stays local to your machine. use this tool to acknowledge, accept and release."
6. Create a button that says "I have something I need to acknowledge and accept and release"
7. A box pops up that you can type into when that button is pressed
8. the text you enter is put onto the screen in 50 point font inside of a rectangle
9. you can click a button that says "burn it! send it to /dev/null!" and the box will go away and the text will be deleted
10. create this in javascript and html
****************************************

******* BURNBUCKEET SCOPE *******
There will be one instances of burnbucket it is always local and always only for the individual
*******************************
