******* WHY MINDMAP *********
this is a side project that can give me joy
making these mindmaps have been very helpful to me for the last 2 weeks
it seems like to do lists are dumb and to do lists is where tasks to go be forgotten
the mindmap is grounding because every task links back to me eventually
if this ends up helping my team at work be more productive, that would be a "real" win
*****************************

******* MINDMAP EXPLAINED *********
Let's say I need to remember that I have work calls today at 10 AM, 11 AM and 2 PM.
My mindmap would look like this:
David  ->  Work -> Calls -> 10 AM -> 11 AM -> 2 PM

At the start of each day I look at my work calendar and fill out my mind map for the day. 

My mindmap might also  have something like
David -> Logan -> Meds -> 8 AM

By linking every task back to me through things like Logan or Work I am maintaing the connection of the task to me. Something I do that isn't good is that I can literally lose myself in a task, the mindmap helps me find my way back to me. 
***********************************

*********MINDMAP REQUIREMENTS**********
1. every mindmap should have today's date at the top like this: Thursday, July 23rd 2026
2. every mindmap should start with David in the center, DAVID is BLUE
3. every mindmap should have a node to the right for UD, UD is GREEN
4. every mindmap should have a node to the left for EM, EM is RED
5. every mindmap should have a node to the bottom for LOGAN, LOGAN is PINK
6. every mindmap should have a node to the top for WORK is YELLOW
7. every mindmap should hae a node to the top for WELLBEING is PURPLE
8. every mindmap node is text inside of an oval
9. the mindmap ui is written in javascript and html
10. the mindmap is mostly just a series of interconnected ovals with text
11. if a node is triple clicked on then an empty fresh node appears and allows for naming of the node
12. when a node is added it most always be further from David than the node that it came from
13. assume that 4 nodes outward in the work direction will be added immediately so the user should be able to add those without changing zoom or scrolling
14. the lines between nodes should not be so long that a lot of space is wasted
15. nodes should never overlap eachother
16. double clicking a node allows you to edit the text of that node
****************************************

******* MINDMAP SCOPE *******
There will be two instances of mindmap, one that is for personal use (single-user) and one that is a collaboration tool (multi-user)

single-user mindmap
1. hosted in github
2. not persist data 

multi-user mindmap 
1. hosted internally in employer dc
2. persists data in a db in employer dc 
*******************************

