-mindmap scopes-

There will be two instances of mindmap, one that is for personal use (single-user) and one that is a collaboration tool (multi-user)

single-user mindmap
1. hosted in github
2. not persist data 

multi-user mindmap 
1. hosted internally in employer dc
2. persists data in a db in employer dc 


-mindmap requirements-
